/* Global */
@font-face {
    font-family: Notable;
    src: url(../Notable-Regular.ttf);
}

#page_header {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#page_header img {
    width: 50%;

    border-radius: 50%;
}

#page_header h2 {
    text-transform: capitalize;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;

    font-family: Arial, Helvetica, sans-serif;

    background-color: #f1fffe;
}

body > footer {
    display: flex;
    align-items: center;

    width: 100%;
}

/* Hamburger Menu */
#hamburger_menu {
    display: none;
}

@media only screen and (max-width: 480px) {
    #nav_bar {
        display: none;
    }

    #hamburger_menu {
        display: initial;
        font-size: 5em;
    }

    #hamburger_open {
        position: fixed;
        z-index: 99;

        text-decoration: none;

        border: none;
        cursor: pointer;
        top: 1rem;
        right: 1rem;

        color: #056a92;
    }

    #hamburger_items {
        display: flex;
        flex-direction: column;
        align-items: center;

        margin: 0;
        padding: 0;

        position: fixed;
        z-index: 100;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        width: 100%;
        height: 100vh;

        /* Style */
        list-style-type: none;
        background-color: rgb(5, 106, 146);

        z-index: 100;

        /* Animation */
        transform: translateY(-100%);
        transition: transform 0.2s ease;
    }

    #hamburger_items li a {
        color: white;
        text-decoration: none;
        font-size: .5em;
    }

    #hamburger_items:target {
        transform: translateY(0);
    }
}

#nav_bar {
    width: 100%;
}

#nav_bar a {
    display: block;
    text-align: center;
    padding: 16px;
    text-decoration: none;

    color:#024661;
}

#nav_bar a:hover {
    color:#003246;
    font-weight: bold;
}

#nav_bar li:active {
    background-color: #bec7c6;
}

#nav_bar ul {
    display: flex;
    justify-content: center;

    margin: 0;
    padding: 0;
    overflow: hidden;
    list-style-type: none;
}

#author_copyright {
    flex-grow: 8;
}

#cookie_statement {
    z-index: 9999;
    flex-grow: 1;

    position: fixed;
    right: 5%;
    bottom: 1%;

    padding: 5px;

    background-color: #FA0;
    opacity: 50%;
    color: #FFF;
    border-radius: 30px;

    text-align: center;
}

/* Home page */
#home_video {
    position: relative;

    width: 50%;
}

#home_middle_section {
    display: flex;
    justify-content: space-evenly;
}

#home_middle_section > h2 {
    position: absolute;
}

#home_middle_section > section {
    width: 75%;
}

#home_middle_section p {
    line-height: 1.5rem;
    text-indent: 2em;
}

#home_middle_section p::first-letter {
    font-weight: bold;
}

#home_middle_section figure {
    float: right;
    width: 30%;
    margin-top: 0;
}

#home_middle_section img {
    width: 75%;

    border-color: black;
    border-style: double;
    border-width: 5px;
}

#home_middle_section aside {
    display: flex;
    flex-direction: column;
    align-items: center;

}

.upcoming_destinations {
    display: flex;
    flex-direction: column;
    justify-content: space-around;

    height: 80%;
    list-style-type: disc;
}

.upcoming_destinations h2 {
    font-family: Notable;
    font-size: larger;

    letter-spacing: .5em;

    color:#004b3b;
}

.upcoming_destinations p {
    word-spacing: .2em;
}

@media only screen and (max-width: 480px) {
    #home_body video {
        display: none;
    }
}

@media only screen and (min-width: 1280px) {
    body > .upcoming_destinations {
        display: none;
    }
}

@media only screen and (max-width: 1279px) {
    #home_middle_section aside {
        display: none;
    }

    #home_middle_section figure {
        float: left;
    }

    #home_middle_section img {
        width: 100%;
    }
}

/* Best destinations */
.article-1 { grid-area: article-1; }
.article-2 { grid-area: article-2; }
.article-3 { grid-area: article-3; }
.article-4 { grid-area: article-4; }
.article-5 { grid-area: article-5; }
.article-6 { grid-area: article-6; }

.product-1 { grid-area: product-1; }
.product-2 { grid-area: product-2; }
.product-3 { grid-area: product-3; }

.grid-container {
    display: grid;
    grid-template-areas:
        'article-2 article-1 article-3'
        'article-2 article-1 article-3'
        'article-5 article-1 article-3'
        'article-5 article-1 article-4'
        'article-5 article-1 article-4'
        'article-5 article-1 article-4'
        'article-5 article-6 article-6';
    align-items: center;
}

#aside_destinations {
    display: grid;
    grid-template-areas: 'product-1 product-2 product-3';
}


#aside_destinations img {
    width: 75%;
}

@media only screen and (min-width: 480px) and (max-width: 1281px){
    .grid-container {
        grid-template-areas:
            'article-1 article-2'
            'article-1 article-2'
            'article-3 article-2'
            'article-3 article-5'
            'article-3 article-5'
            'article-3 article-5'
            'article-6 article-6'
            'article-6 article-6';
    }

    .article-4 { display: none; }

    #aside_destinations {
        grid-template-areas: 'product-1 product-2';
    }

    .product-3 { display: none; }
}

@media only screen and (max-width: 480px) {
    .grid-container {
        grid-template-areas:
            'article-5 article-5'
            'article-3 article-3'
            'article-2 article-2'
            'article-1 article-1';
    }

    .article-4 { display: none; }
    .article-6 { display: none; }

    #aside_destinations {
        grid-template-areas:
            'product-1'
            'product-2'
            'product-3';
    }
}

/* Tickets */
#tickets_middle {
    display: flex;
}

#tickets_middle > h2 {
    position: absolute;
}

#tickets_middle table {
    flex-grow: 2;

    margin-top: 50px;
}

#tickets_middle table tbody tr:nth-child(even) {
    background-color: #CFF;
}

#tickets_middle table tbody tr:nth-child(odd) {
    background-color: #FFF;
}

#tickets_middle table tbody tr td:first-child {
    background-color: #FF0;
}

#tickets_middle table + aside {
    width: 30%;

    display: flex;
    flex-direction: column;
}

#tickets_middle img {
    width: 50%;
}

@media only screen and (min-width: 480px) and (max-width: 1280px) {
    #tickets_middle {
        flex-direction: column;
    }

    #tickets_middle aside {
        width: 100%;
        flex-direction: row;
    }

    #tickets_middle aside figure:first-child {
        display: none;
    }

    #tickets_middle img {
        width: 70%;
    }
}

@media only screen and (max-width: 480px) {
    #tickets_middle {
        flex-direction: column;
    }

    #tickets_middle aside {
        width: 100%;
        flex-direction: column;
    }

    #tickets_middle aside figure:first-child {
        display: initial;
    }
}

/* Contact */
#contact_main, #contact_middle {
    display: flex;
}

#contact_main {
    flex-direction: column;
    align-items: center;
}

#contact_middle {
    justify-content: space-around;
    align-items: center;
}

#contact_middle form {
    flex-shrink: 1;
}

#contact_middle aside {
    width: 30%;

    display: flex;
    flex-direction: column;
}

#contact_middle img {
    width: 80%;
}

@media only screen and (max-width: 480px) {
    #contact_middle {
        flex-direction: column;
    }

    #contact_middle aside {
        width: 100%;
    }

    #contact_middle img {
        width: 80%;
    }
}
